<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="view"
		label="COM_JTRAX_FIELDSET_GENERAL"
		description="COM_JTRAX_FIELDSET_DESCRIPTION_GENERAL"
	>
		<field
			name="introtext"
			type="textarea"
			label="COM_JTRAX_LABEL_INTROTEXT"
			rows="10" cols="70"
			description="COM_JTRAX_DESCRIPTION_INTROTEXT"
		/>
		<field
			name="button"
			type="text"
			label="COM_JTRAX_LABEL_SEARCHBUTTON"
			description="COM_JTRAX_DESCRIPTION_SEARCHBUTTON"
		/>
		<field
			name="label"
			type="text"
			label="COM_JTRAX_LABEL_LABEL"
			description="COM_JTRAX_DESCRIPTION_LABEL"
		/>
	</fieldset>
	<fieldset
		name="advanced"
		label="COM_JTRAX_FIELDSET_ADVANCED"
		description="COM_JTRAX_FIELDSET_DESCRIPTION_ADVANCED"
	>
		<field
			name="timetable"
			type="radio"
			label="COM_JTRAX_LABEL_TIMETABLE"
			description="COM_JTRAX_DESCRIPTION_TIMETABLE"
			default="0"
		>
			<option value="0">COM_JTRAX_OPTION_ALWAYS</option>
			<option value="1">COM_JTRAX_OPTION_CUSTOM</option>
		</field>
		<field
			name="openingtime"
			type="integer"
			default="1"
			label="COM_JTRAX_LABEL_OPENINGTIME"
			description="COM_JTRAX_DESCRIPTION_OPENINGTIME"
			first="0"
			last="23"
			step="1"
		/>
		<field
			name="duration"
			type="integer"
			default="12"
			label="COM_JTRAX_LABEL_DURINGTIME"
			description="COM_JTRAX_DESC_DURINGTIME"
			first="1"
			last="23"
			step="1"
		/>
		<field
			name="wheretofind"
			type="radio"
			label="COM_JTRAX_LABEL_WHERETOFIND"
			description="COM_JTRAX_DESC_WHERETOFIND"
			default="1"
		>
			<option value="0">JYES</option>
			<option value="1">JNO</option>
		</field>
		<field
			name="wheretofindtext"
			type="text"
			label="COM_JTRAX_LABEL_WHERETOFIND_TEXT"
			description="COM_JTRAX_DESC_WHERETOFIND_TEXT"
		/>
		<field
			name="wheretofindimage"
			type="media"
			label="COM_JTRAX_LABEL_WHERETOFIND_IMG"
			description="COM_JTRAX_DESC_WHERETOFIND_IMG"
		/>
	</fieldset>
	<fieldset
		name="messages"
		label="COM_JTRAX_FIELDSET_MESSAGES"
		description="COM_JTRAX_FIELDSET_DESCRIPTION_MESSAGES"
	>
		<field
			name="errClose"
			type="textarea"
			label="COM_JTRAX_LABEL_CLOSE"
			description="COM_JTRAX_DESC_CLOSE"
			rows="10" cols="70"
		/>
		<field
			name="errInvalid"
			type="textarea"
			rows="10"
			cols="70"
			label="COM_JTRAX_LABEL_INVALID_CODE"
			description="COM_JTRAX_DESC_INVALID_CODE"
		/>
	</fieldset>
	<fieldset
		name="donations"
		label="COM_JTRAX_FIELDSET_DONATIONS"
		description="COM_JTRAX_FIELDSET_DESCRIPTION_DONATIONS"
	></fieldset>
</config>
